
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "game.css";

@import "result.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
}

:root {
  --background-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --spock-gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  --dark-text: hsl(229, 25%, 31%);
  --light-text: hsla(0, 0%, 100%, 0.853); 
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}

body {
  background-image: radial-gradient(circle at top, var(--background-gradient));
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3vw;
  height: 97vh;
  position: relative;
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid var(--header-outline);
  border-radius: 0.5rem;
  margin-top: 3vh;
  margin-inline: 5vw;
  padding: 1.5vw;
}

h1 {
  color: var(--light-text);
  font-size: 3vw;
  line-height: 80%;
  text-shadow: 0vw 1vh 10px hsla(0, 0%, 0%, 0.329);
  justify-self: left;
  margin: 1vh 2vw;
}

.score-box {
  display: flex;
  flex-direction: column;
  background-color: var(--light-text);
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw 4vw;
  font-weight: 700;
  border-radius: 0.4rem;
}

.score-label {
  font-size: 2vw;
  color: var(--score-text);
  font-weight: 600;
  letter-spacing: 0.2vw;
}

.score-count {
  font-size: 6.5vw;
  color: var(--dark-text);
}

button {
  background-color: transparent;
  border: 0.3vh solid var(--header-outline);
  color: var(--light-text);
  border-radius: 0.6vh;
  cursor: pointer;
}

.rules-dialog {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4vh 5vw;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  object-fit: contain;
  background-color: white;
}

.rules-picture {
  object-fit: contain;
  height: 80%;
  margin-bottom: 20vh;
}

.rules-header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  margin-bottom: 5vh;
}

.close-rules-button {
  position: absolute;
  border: none;
  bottom: 5vh;
}

.rules-label {
  color: var(--dark-text);
  font-weight: 700;
}

@media screen and (min-width: 860px) {
  header {
    margin-inline: 15vw;

  }

  h1 {
    font-size: 2vw;
  }

  .score-label {
    font-size: 1.5vw;
  }

  .score-count {
    font-size: 4.5vw;
  }

  .score-box {
    padding: 0.1vw 3vw;
  }

  .rules-dialog {
    top: 20vh;
    width: 40vw;
    left: 30vw;
    height: 65vh;
    padding-top: 2vw;
    padding-inline: 2vw;
    border-radius: 0.7vw;
    align-items: center;
  }
  .rules-picture {
    height: 80%;
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    object-fit: contain;
    object-position: center;
  }

  .rules-header {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: baseline;
    font-size: 3vw;
    gap: 25vw;
    margin-block: 0;
    padding-block: 0;
  }

  .close-rules-button {
    position: static;
  }
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-inline: 5vw;
  bottom: 5vh;
  left: 5vh;
  right: 5vh;
}

footer button {
  padding: 1vh 3vw;
  border-radius: 0.5vw;
  color: var(--light-text);
  font-weight: 700;
}
